<div class="wrapper row2">
    <div class="latest"> 
      <!-- ################################################################################################ -->
      <ul class="nospace group">
        <li>
          <figure><img src="{{site.baseurl}}/images/thumbs/common_room.jpg" alt="">
            <figcaption class="inspace-30 center">
              <p class="bold uppercase">Common Space</p>
              <!-- <p><a href="#">View Here &raquo;</a></p> -->
            </figcaption>
          </figure>
        </li>
        <li>
          <figure><img src="{{site.baseurl}}/images/thumbs/courtyard.jpg" alt="">
            <figcaption class="inspace-30 center">
              <p class="bold uppercase">Outdoor Area</p>
              <!-- <p><a href="#">View Here &raquo;</a></p> -->
            </figcaption>
          </figure>
        </li>
        <li>
          <figure><img src="{{site.baseurl}}/images/thumbs/dining.jpg" alt="">
            <figcaption class="inspace-30 center">
              <p class="bold uppercase">Dining Space</p>
              <!-- <p><a href="#">View Here &raquo;</a></p> -->
            </figcaption>
          </figure>
        </li>
        <li>
          <figure><img src="{{site.baseurl}}/images/thumbs/bath.jpg" alt="">
            <figcaption class="inspace-30 center">
              <p class="bold uppercase">Shower</p>
              <!-- <p><a href="#">View Here &raquo;</a></p> -->
            </figcaption>
          </figure>
        </li>
        <li>
          <figure><img src="{{site.baseurl}}/images/thumbs/kitchen.jpg" alt="">
            <figcaption class="inspace-30 center">
              <p class="bold uppercase">Kitchen</p>
              <!-- <p><a href="#">View Here &raquo;</a></p> -->
            </figcaption>
          </figure>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>