<div class="wrapper row1">
<header id="header" class="clear"> 
    
    <div id="logo" class="fl_left">
      <h1><a href="{{site.baseurl}}/">{{ site.title }}</a></h1>
    </div>
    
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li><a href="{{site.baseurl}}/rates">Rates</a></li>
        <li><a href="{{site.baseurl}}/rooms">Rooms</a></li>
        <li><a href="{{site.baseurl}}/facilities">Facilities</a></li>
        <li><a href="{{site.baseurl}}/getting-around">Getting Around</a></li>
      </ul>
    </nav>    
  </header>
</div>