<div class="wrapper row6">
  <section id="cta" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <h2 class="heading">Make a booking now</h2>
      <p>Contact {{site.contact_person}} on {{site.phone}} to make a booking.</p>
    </div>
    <!-- <div class="one_quarter"><a class="btn" href="{{site.baseurl}}/booking">Book Now <span class="fa fa-arrow-right"></span></a></div> -->
    <!-- ################################################################################################ -->
  </section>
</div>